
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
    background-color: #000000;
}

strong { font-weight: 600; }

a, a:hover, a:focus { color: #ffffff; text-decoration: none; transition: all .3s; }

h1, h2 {
  	margin-top: 10px;
  	font-family: 'Montserrat', sans-serif;
  	font-size: 38px;
    font-weight: 300;
    color: #9c0c0c;
    line-height: 50px;
}

h3 {
  	font-family: 'Montserrat', sans-serif;
  	font-size: 22px;
    font-weight: 300;
    color: #9c0c0c;
    line-height: 30px;
}

h4 {
  	font-family: 'Montserrat', sans-serif;
  	font-size: 18px;
    font-weight: 300;
    color: #9c0c0c;
    line-height: 30px;
}

img { max-width: 100%; }

/**ul {text-align: left;}**/

.medium-paragraph {
	font-size: 17px;
	line-height: 32px;
}

.colored-text { color: #9c0c0c; }

::-moz-selection { background: #9c0c0c; color: #fff; text-shadow: none; }
::selection { background: #9c0c0c; color: #fff; text-shadow: none; }



/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
	 background: #1a1a1a;
}

.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 {
	color: #ffffff;
}

.section-container-image-bg .divider-1 span {
	border-color: #fff;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 0 28px;
	background: #9c0c0c;
	background: rgba(156, 12, 12, 0.7);
	border: 0;
	font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active, .btn-link-1:active:focus,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #9c0c0c;
	background: rgba(156, 12, 12, 0.9);
	outline: 0;
	color: #fff;
	box-shadow: none;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 0 28px;
	background: #333;
	background: rgba(0, 0, 0, 0.85);
	border: 0;
	font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
}
.btn-link-2:hover, .btn-link-2:focus, .btn-link-2:active, .btn-link-2:active:focus,
.btn-link-2.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-2.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #333; background: rgba(0, 0, 0, 1); outline: 0; color: #fff; box-shadow: none;
}

.btn-link-3 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 0 28px;
	background: none;
	border: 0;
	border-bottom: 2px solid #6300ba;
	font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #6300ba;
    border-radius: 0;
    transition: all .3s;
}
.btn-link-3:hover, .btn-link-3:focus, .btn-link-3:active, .btn-link-3:active:focus,
.btn-link-3.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-3.btn-primary:not(:disabled):not(.disabled):active:focus {
	padding: 0 10px;
	background: none;
	border: 0;
	border-bottom: 2px solid #85754E;
	outline: 0;
	color: #85754E;
	box-shadow: none;
}


/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	border-bottom: 1px dashed #9c0c0c;
}


/***** Top menu *****/

.navbar {
	background: #0b0b0b;
	/*-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
	backface-visibility: hidden;*/
  /*min-height: 100px;*/
}
.navbar.navbar-no-bg { background: #000000; background: rgba(0, 0, 0, 0.7); }

.navbar-dark .navbar-nav { font-size: 15px; color: #fff; font-weight: 600; }
.navbar-dark .navbar-nav .nav-link { color: #fff; color: rgb(163, 2, 2); border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #fff; }
.navbar-dark .navbar-nav .nav-link:focus { color: #fff; outline: 0; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }

.navbar-brand {
  height: 70px;
	width: 136px;
	background: url(../img/rbvlogo.png) left center no-repeat;
	border: 0;
  background-size: cover;
	text-indent: -99999px;
}

/* collapsed nav icon */
.fas.fa-bars {
  color: #9c0c0c;
}

.dropdown-menu {
  background: #0b0b0b;
  border-color: #000000;
  border-width: medium;
  border-radius: 1px;
  margin-top: 8px;
}

.nav-link {
  padding-bottom: 1px;
}

.dropdown-item {
  color: #ffffff;

}

.dropdown-item:focus, .dropdown-item:hover {
  color: rgb(255, 255, 255);
  background-color: #9c0c0c;
}


/***** Top content *****/


.top-content {
  margin-top: 55px;
    padding: 210px 0;
}

.top-content .text {
	color: #000000;
}

.top-content .text h1 {
	margin-top: 25px;
	color: #fff;
}

.top-content .description {
	margin: 30px 0 10px 0;
}

.top-content .description p {
  opacity: 0.8;
  padding: 20PX;
}

.top-content .top-big-link {
	margin-top: 45px;
}



.flag {
  background-color: #000000;
}

.black {
  background-color: #000000;
}

.white {
  background-color: #ffffff;
}

#topText {
    text-align: left;
    background: rgba(0, 0, 0, 0.9);
    padding: 5px;
    border-radius: 5px
}

#topTextHome {
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    padding: 5px;
    border-radius: 5px
}

/***** Services *****/

.services-container {
  margin-top: 20px;
}

.bold {
  font-weight: bold;
}

.services-box {
	padding-top: 30px;
	text-align: left;
}

.services-box .services-box-icon {
	width: 80px;
	height: 80px;
	margin: 0 auto;
    font-size: 40px;
    color: #000000;
    line-height: 80px;
    text-align: center;
    border-radius: 28px;

  background: #85754E; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #9c0c0c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#6300ba)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#9c0c0c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#9c0c0c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#9c0c0c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#9c0c0c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c0c0c', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.services-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}

.rhino img {
  border: #9c0c0c 2px solid;
  border-radius: 5px;
  margin-bottom: 30px;
}

.ulti img {
  border: #fac800 2px solid;
  border-radius: 5px;
  margin-bottom: 30px;
}

#trims {
  border-radius: 4px;

}


/***** About us *****/


.about-us-box {
	margin-top: 100px;

}

.about-us-box-text {
	padding-right: 30px;
	text-align: left;
}

.about-us-box-text h3 {
	margin-top: 0;
}
.about-us-box-text .medium-paragraph {
	margin-top: 20px;
	margin-bottom: 20px;
}

.about-us-box-text a { border-bottom: 1px dashed #9c0c0c; }
.about-us-box-text a:hover, .about-us-box-text a:focus { border: 0; }

.about-us-box-img img {
	border-radius: 4px;
}


 #contact:hover {color: #9c0c0c}



/***** More services *****/

.more-services {
  border-radius: 4px;
}

.more-services-box {
	margin-top: 30px;
	text-align: left;
}

.more-services-box .more-services-box-icon {
	width: 60px;
	height: 60px;
	margin: 0 auto;
    font-size: 28px;
    color: #85754E;
    line-height: 60px;
    text-align: center;
    border-radius: 22px;

    background: #85754E; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #6300ba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#6300ba)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#6300ba 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#6300ba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#6300ba 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#6300ba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6300ba', endColorstr='#6300ba',GradientType=0 ); /* IE6-9 */
}

.more-services-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}


/***** Portfolio *****/

.portfolio-container {
  background-color: #000000;
}

.portfolio-box {
	padding-top: 30px;
	text-align: left;
}

.portfolio-box-image {
	overflow: hidden;
	border-radius: 4px;
  height: 290px;
  margin-bottom: 15px;
}

.portfolio-box-image img {
	-o-transition: all .8s; -moz-transition: all .8s; -webkit-transition: all .8s; -ms-transition: all .8s; transition: all .8s;
}

.portfolio-box-image:hover img {
	-o-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-transform: scale(1.25); -ms-transform: scale(1.25); transform: scale(1.25);
}

.portfolio-box h3 {
	margin-top: 30px;
}
.portfolio-box h3 a { color: #555; }
.portfolio-box h3 a:hover, .portfolio-box h3 a:focus { color: #9b59b6; }

.portfolio-box h3 i {
	padding-left: 10px;
	color: #ccc;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.portfolio-box h3:hover i { padding-left: 15px; }

.portfolio-box-date {
	padding-bottom: 10px;
	font-size: 14px;
	color: #aaa;
	text-transform: uppercase;
}

.portfolio-box-date i {
	padding-right: 5px;
	color: #ddd;
}

.portfolio-container .section-bottom-button {
	padding-top: 40px;
}

.portfolio-box-icon {
	width: 60px;
	height: 60px;
	margin: 0 auto;
  margin-bottom: 10px;
    font-size: 28px;
    color: #85754E;
    line-height: 60px;
    text-align: center;
    border-radius: 22px;

    background: #85754E; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #6300ba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#6300ba)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#6300ba 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#6300ba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#6300ba 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#6300ba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6300ba', endColorstr='#6300ba',GradientType=0 ); /* IE6-9 */
}

.portfolio-container a {
  color: #85754E;
}

.portfolio-container a:hover {
  color: #ffffff
}



/***** Blog *****/

.blog-container {
  background-color: #000000;
}

.blog-box {
	margin-top: 30px;
	text-align: left;
}

.blog-box-image {
	margin-top: 8px;
	overflow: hidden;
	border-radius: 4px;
}

.blog-box-image img {
	-o-transition: all .8s; -moz-transition: all .8s; -webkit-transition: all .8s; -ms-transition: all .8s; transition: all .8s;
}

.blog-box-image:hover img {
	-o-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-transform: scale(1.25); -ms-transform: scale(1.25); transform: scale(1.25);
}

.blog-box h3 {
	margin-top: 0;
}
.blog-box h3 a { color: #555; }
.blog-box h3 a:hover, .blog-box h3 a:focus { color: #9b59b6; }

.blog-box h3 i {
	padding-left: 10px;
	color: #ccc;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.blog-box h3:hover i { padding-left: 15px; }

.blog-box-date {
	padding-bottom: 10px;
	font-size: 14px;
	color: #aaa;
	text-transform: uppercase;
}

.blog-box-date i {
	padding-right: 5px;
	color: #ddd;
}

.blog-container .section-bottom-button {
	padding-top: 40px;
}


/***** Footer *****/

footer {
	padding: 40px 0 0 0;
	background: #080808;
	color: #aaa;
	text-align: left;
}

.footer-left a { color: #ddd; border-bottom: 1px dashed #ddd; }
.footer-left a:hover, .footer-left a:focus { color: #ddd; border: 0; }

.footer-right {
	text-align: right;
}

.footer-right a {
	margin: 0 6px;
    font-size: 32px;
    color: #aaa;
}
.footer-right a:hover, .footer-right a:focus { color: #eee; }

.footer-bottom {
	padding-bottom: 25px;
	text-align: center;
}

.footer-bottom a {
	font-size: 32px;
    color: #666;
    line-height: 40px;
}

.table {
  border-collapse: collapse;
}

.table td, .table th {
  border-top: none;
}

.footer-bottom a:hover, .footer-bottom a:focus { color: #888; }
